{% macro docs_edit_page(current_path, readme_url) %}
<p class="edit-page">
  {% if readme_url -%}
    <a href="{{ readme_url }}">
  {% else -%}
    <a href="{{ config.extra.docs_repo }}/-/blob/{{ config.extra.repo_branch }}/content{{ current_path | replace(from="\\", to="/") | trim_end_matches(pat="/") }}.md">
  {% endif -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
    </svg>Edit this page on GitLab
  </a>
</p>
{% endmacro %}
